<div class="container my-3">

  <div class="row">
    <h1 class="bg-secondary p-2 text-white rounded-pill">ユーザー詳細</h1>
  </div>

  <div class="table table-borderless">
    <table>
      <tbody>
        <tr><th>会員ID</th><td><%= @customer.id %></td></tr>
        <tr><th>名前</th><td><%= @customer.name %></td></tr>
        <tr><th>メールアドレス</th><td><%= @customer.email %></td></tr>
      </tbody>
    </table>

    <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <div class="field border border-danger border-2 w-25 ml-3 p-2">
        <div class="font-weight-bold">会員ステータス</div>
        <div>
          <%= f.radio_button :is_valid, true, autocomplete: "is_valid" %>有効
          <%= f.radio_button :is_valid, false, autocomplete: "is_valid" %>停止
        </div>
        <div><%= f.submit "変更を保存", class: "btn btn-success" %></div>
      </div>
    <% end %>
  </div>

  <div class="row mt-4">
    <h1 class="bg-secondary p-2 text-white rounded-pill">ユーザーのレビュー一覧</h1>
  </div>

  <div class="row">
    <% @reviews.each do |review| %>
　　<div class="col-5 p-3 mx-4 my-2 border border-info border-5">

　　  <div class="d-flex">
        <div>
          <p>投稿者: <%= review.customer.name %>[<%= review.created_at.strftime('%Y/%m/%d %H:%M') %>]</p>
        </div>

        <div class="ml-auto">
          ♡<%= review.favorites.count %><br/>
          <%= link_to "削除", admin_review_path(review), method: :delete, "data-confirm" => "本当に削除しますか？", class: "text-danger" %>
        </div>
      </div>

      <div class="font-weight-bold h5">
        <u>ゲームタイトル</u>
        <%= link_to admin_review_path(review.id) do %>
          <p class="ml-3 mt-2"><%= review.game_title %></p>
        <% end %>
      </div>

      <div class="py-2 font-weight-bold h5">
        <u>評価</u><br>
        <div class="detail-value ml-3 mt-2", id="star-comf-<%= review.id %>"></div>
          <script>
            $('#star-comf-<%= review.id %>').raty({
              size: 38,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= review.evaluation %>,
            });
          </script>
      </div>

      <div class="py-2 text-break  text-wrap">
        <div class="font-weight-bold h5">
          <u>レビュー</u>
        </div>
        <div class="ml-3 font-weight-bold h5">
          <%= review.review_title %>
        </div>
        <span ><%= review.review %></span><br>
      </div>

      <div class="py-2 font-weight-bold h5">
        <u>ジャンル</u><br>
        <% review.game_genres.each do |genre| %>
          <p class="ml-3 mt-2"><%= genre.genre_name %></p>
        <% end %>
      </div>
    </div>

    <% end %>
  </div>

  <div class="row">
    <div class="mx-auto"><%= paginate @reviews %></div>
  </div>

</div>

