<div class="container my-3">
  <div class="row">
    <h1 class="bg-secondary p-2 text-white rounded-pill">レビュー詳細</h1>
  </div>

  <div>
    <p>投稿者: <%= @review.customer.name %></p>

    <div class="font-weight-bold h5">
        <u>ゲームタイトル</u>
        <p class="ml-3 mt-2"><%= @review.game_title %></p>
      </div>

      <div class="py-2 font-weight-bold h5">
        <u>評価</u><br>
        <div class="detail-value ml-3 mt-2", id="star-comf-<%= @review.id %>"></div>
          <script>
            $('#star-comf-<%= @review.id %>').raty({
              size: 38,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @review.evaluation %>,
            });
          </script>
      </div>

      <div class="py-2">
        <div class="font-weight-bold h5">
          <u>レビュー</u>
        </div>
        <div class="ml-3 font-weight-bold h5">
          <%= @review.review_title %>
        </div>
        <span ><%= @review.review %></span><br>
      </div>

      <div class="py-2 font-weight-bold h5">
        <u>ジャンル</u><br>
        <% @review.game_genres.each do |genre| %>
          <p class="ml-3 mt-2"><%= genre.genre_name %></p>
        <% end %>
      </div>
    </div>


     <div class="mt-5">
       <u><h5 class="font-weight-bold">コメント</h5></u><br>

      <div class="mt-2 text-break  text-wrap">
        <% @review.comments.each do |comment| %>
          <div class="mb-3 border">
            <div class="bg-secondary p-1 text-white d-inline-block"><%= comment.customer.name %></div>
            <div><%= comment.comment %></div>
            <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete %><br>
          </div>
        <% end %>
      </div>

    </div>

  </div>
</div>
