<div class="container">
  <h1>レビュー投稿</h1>

  <%= form_with model: @review, url: reviews_new_path, method: :post  do |f| %>
    <div>
      ゲームタイトル<br>
      <%= f.text_field :game_title %>
    </div>

    <div class="field" id="star">
      <%= f.label :evaluation, "星評価：" %>
      <%= f.hidden_field :evaluation, id: :review_star %>
    </div>
    <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[evaluation]',
        half: true,
      });
    </script>

    <div>
      レビュータイトル<br>
      <%= f.text_field :review_title %>
    </div>

    <div>
      レビュー内容<br>
      <%= f.text_field :review %>
    </div>

    <div>
      ゲームジャンル
      <%= f.collection_check_boxes(:game_title_in_database, GameGenre.all, :id, :genre_name) do |tag| %>
        <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
            <%= tag.check_box class: 'form-check-input' %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= f.submit "投稿" %>
  <% end %>
</div>

