<div class="container my-3">
  <div class="row mb-3">
    <h1 class="bg-secondary p-2 text-white rounded-pill">レビュー投稿</h1>
  </div>

  <div class="ml-3">
  <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
    <div class="mb-2">
      ゲームタイトル<br>
      <%= f.text_field :game_title %>
    </div>

    <div class="field mb-2" id="star">
      <%= f.label :evaluation, "星評価：" %>
      <%= f.hidden_field :evaluation, id: :review_star %>
    </div>
    <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[evaluation]',
        half: true,
      });
    </script>

    <div class="mb-2">
      レビュータイトル<br>
      <%= f.text_field :review_title %>
    </div>

    <div class="mb-2">
      レビュー内容<br>
      <%= f.text_field :review %>
    </div>

    <div class="mb-2">
      ゲームジャンル
      <%= collection_check_boxes(:review_genre_intermediate, :game_genre_id, GameGenre.all, :id, :genre_name) do |tag| %>
        <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
            <%= tag.check_box class: 'form-check-input' %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>

      <div>
         <%= f.label :status, "公開", value: true %>
         <%= f.radio_button :status, 'true' %>
       </div>
       <div>
         <%= f.label :status, "非公開", value: false %>
         <%= f.radio_button :status,'false' %>
      </div>

    <%= f.submit "投稿" %>
  <% end %>
  </div>

</div>

